[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
install = "*"
django-cors-headers = "*"
pymongo = {extras = ["gssapi", "snappy", "srv", "tls"], version = "*"}
mongoengine = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.8"
